 @font-face {
    font-family: 'Open Sans';
    font-display: swap;
    src: url('../fonts/OpenSans-Regular.woff') format('woff'),
    url('../fonts/OpenSans-Regular.woff2') format('woff2');
    font-style: normal;
    font-weight: 300;
}
html {
    box-sizing: border-box;
}

body {
    margin: 0;
}

img {
    max-width: 100%
}

a {
    text-decoration: none;
}
.container{
    width: 1900px;
    margin: 0 auto;
}
.header{
    height: 70px;
    background: #313131;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.header .header-logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.header .header-logo .logo{
    display: flex;
    flex-direction: row;
}
.header .header-logo .logo .logo-image {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 22px;
    margin-right: 22px;
}
.header .header-logo .logo .logo-text{
    font-family: Open Sans;
    font-size: 22px;
    color: #FFFFFF;
}
.header .header-menu{
    display: flex;
    justify-content: center;
    align-items: center;
}
.header .header-menu .menu-list{
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
}
.header .header-menu .menu-list .menu-item a{
    display: flex;
    justify-content: center;
    padding: 17px;
    align-items: center;
    font-family: Open Sans;
    font-style: normal;
    font-size: 15px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.header .header-menu .menu-list .menu-item a:hover {
    display: flex;
    justify-content: center;
    padding: 17px;
    align-items: center;
    font-family: Open Sans;
    font-style: normal;
    font-size: 15px;
    text-transform: uppercase;
    color: #14B9D5;
}
.header .header-search{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    padding: 25px;
}
.section-latest-news{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    height: 369px;
    background-image: url("../image/header-background.png");
    background-size: 130%;
    background-attachment: fixed;
}

.section-latest-news .latest-news-title{
    margin-top: 169px;
    margin-bottom: 44px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 27px;
    color: #FFFFFF;
}
.section-latest-news .button-green{
    width: 170px;
    height: 55px;
    background: #89CA62;
    border: none;
    margin-right: 20px;
    font-family: Open Sans;
    font-style: normal;
    font-size: 18px;
    color: #FFFFFF;
}
.section-latest-news .button-blue{
    width: 170px;
    height: 55px;
    background: #14B9D5;
    border: none;
    margin-left: 20px;
    font-family: Open Sans;
    font-style: normal;
    font-size: 18px;
    color: #FFFFFF;
}
.section-most-popular  {
    background-color: #F2F2F2;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section-header .header-title{
    margin: 0;
    padding-top: 49px;
    padding-bottom: 52px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 27px;
    text-align: center;
    text-transform: uppercase;
    color: #18B4CF;
}

.section-most-popular .image-wrapper{
    width: 1180px;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 72px;
}

.section-most-popular .image-item img{
    width: 100%;
}

.section-most-popular .image-item{
    margin: 15px;
    display: flex;
    flex-direction: column;
    width: 30%;
    background: #FFFFFF;
    height: 100%;
}

.section-most-popular .image-wrapper .image-item .image-item-desk{
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #353A3D
}

.section-most-popular-clients{
    background-image: url("../image/Layer 4 1.png");
    height: 588px;
    display: grid;
    grid-template-rows: 1fr 1fr 2fr;
    justify-items: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.most-popular-title{
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 44px;
    text-transform: uppercase;
    color: #FFFFFF;
    align-self: end;
}

.divider {
    border: none;
    background: #18B4CF;
    width: 60px;
    height: 3px;
}

.section-most-popular-clients .most-popular-images .image-item:not(last-child){
    padding-right: 58px;
}

.section-most-popular-clients .most-popular-images{
    align-self: start;
}

.section-top-rated .image-wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fill, 271px);
    gap: 0;
}

.section-hot-news{
    display: grid;
}

.section-hot-news .image-wrapper {
    padding-bottom: 70px;
    display: grid;
    justify-self: center;
    width: 1180px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 259px 1fr 1fr 259px;
    grid-row-gap: 44px;
    grid-column-gap: 68px;
}

.content-item-one { grid-area: 1 / 1 / 2 / 4; background-color: #F9F7F7;}
.content-item-two { grid-area: 1 / 4 / 2 / 5; background-color: #F9F7F7; }
.content-item-three { grid-area: 2 / 1 / 3 / 3; background-color: #F9F7F7; }
.content-item-four { grid-area: 2 / 3 / 3 / 5; background-color: #F9F7F7; }
.content-item-five { grid-area: 3 / 1 / 4 / 3; background-color: #F9F7F7; }
.content-item-six { grid-area: 3 / 3 / 4 / 5; background-color: #F9F7F7; }
.content-item-seven { grid-area: 4 / 1 / 5 / 2; background-color: #F9F7F7; }
.content-item-eight { grid-area: 4 / 2 / 5 / 5; background-color: #F9F7F7; }

.content-text{
    padding-left:24px;
    padding-right:24px;
}

.content-item-one{
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto;
}

.content-item-eight{
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr;
}

.content-text .title{
    padding-top: 14px;
    padding-bottom:14px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    text-align: right;
    color: #353A3D;
}

.content-text .desk{
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    text-align: right;
    color: #5B6469;
}

.footer{
    background: #000000;
    height: 80px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    justify-items: center;
    align-items: center;
}

.footer .footer-copyright{
    grid-area: 1 / 1 / 2 / 2;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 13px;
    color: #FFFFFF;
}
.footer .footer-logo{
    grid-area: 1 / 2 / 2 / 3;
}