@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
.container{
    width: 1280px;
    margin: 0 auto;
}
.header{
    padding-bottom: 48px;
}

.header .header-logo {
    margin-bottom: 38px;
    font-size: 80px;
    line-height: 94px;

}
.header .header-logo a{
    text-decoration: none;
    color: #000000;
}
.header .header-logo .logo-colored{
    color: deepskyblue;
}
.header-menu .menu .menu-list {
    display: flex;
    justify-content: center;
    align-content: center;
    box-sizing: border-box;
}
.header-menu .menu{
    background-color: #35444F;
}

.header-menu .menu .menu-list .menu-item{
    padding: 0 20px;
    list-style: none;
    padding-top: 26px;
    padding-bottom: 19px;
    font-family: Roboto;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
    box-sizing: border-box;
    text-align: center;
}
.header-menu .menu .menu-list .menu-item:hover,
.header-menu .menu .menu-list .menu-item:focus{
    background: #222F3A;
}

.header-menu .menu .menu-list .menu-item:not(:first-child){
    border-left: 1px solid #FFFFFF;

}
.left-menu{
    margin: 0 26px;
    width: 344px;
    height: 399px;
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #000000;
    box-sizing: border-box;

}
.left-menu .left-menu-list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    list-style: none;
    padding: 0;
}
.left-menu .left-menu-list .left-menu-item{
    padding-bottom: 23px;
    padding-top: 23px;
    padding-left: 44px;
    font-family: Roboto;
    font-size: 27px;
    line-height: 27px;
    color: #485863;
    box-sizing: border-box;
}
.left-menu .left-menu-list .left-menu-item:hover,
.left-menu .left-menu-list .left-menu-item:focus{
    background: #DBDBDB;
    font-weight: bold;
    text-align: center;
}


.main-content .content-image{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 26px;
    width: 885px;
    height: 529px;
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #000000;
    box-sizing: border-box;

}
.main-content{
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    margin: 0 -26px;
}

.main-content-text{
    margin: 0 26px;
    font-family: Roboto;
    font-size: 18px;
    line-height: 24px;
    color: #2C2C2C;
}

.footer{
    display: flex ;
    background: rgba(99, 105, 110, 0.48);
    justify-content: space-between;
}
.footer-menu{
    margin-right: 135px;
    width: 875px;
    height: 28px;
    left: 40px;
    top: 20px;

}
.footer-menu .footer-menu-list {
    display: flex;
    justify-content: space-between;
    list-style: none;
}


.footer-menu .footer-menu-list .footer-menu-item a{
    text-decoration: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 41px;
    color: #0C1927;
}
.footer .footer-copyright{
    margin: 0 40px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 24px;
    color: #010101;
    width: 190px;
    height: 69px;
    left: 1050px;
    top: 0px;
}



