.conteiner{
    width: 1260px;
    margin: 0 auto;
    box-sizing: border-box;
}
.main-menu .menu{
    padding: 0;
    margin: 0 -36px;
    text-align: center;
    padding-bottom: 25.5px;
    padding-top: 25.5px;
}
.main-menu .menu .menu-list .menu-item{
    display: inline-block;
    padding: 0 36px;
    vertical-align: middle;
}
.main-menu .menu .menu-list .menu-item a{
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
    align-items: center;
    text-transform: uppercase;
    color: #FF0000;
    text-decoration: none;
}
.main-content{
    padding-bottom: 40px;
}

.main-content .content-image{
    margin-bottom: 49px;
}

.main-content .main-content-text .text-title{
    text-align: center;
    margin-bottom: 38px;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    text-transform: uppercase;
    color: #373737;

}
.main-content .main-content-text .content-text{
    text-align: center;
    margin-bottom: 28px;
    font-size: 16px;
    line-height: 26px;
    color: #373737;
}
.main-content .main-content-text{
    margin-bottom: 66px;
}

.botton-wrap{
    margin-bottom: 42px;
    text-align: center;
}
.botton-wrap .button{
    padding: 18px 43px;
    width: 191px;
    height: 51px;
    left: 544.5px;
    top: 557px;
    font-weight: bold;
    font-size: 12px;
    line-height: 12px;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #FF0000;
    border-radius: 4px;
    border: none;
}
.footer .copyright{
    margin-bottom: 29px;
    text-align: right;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #373737;
}


/*
main-menu
menu
menu-list
menu-item
main-content
content-image
image-item
main-content-text
text-title
content-text
botton-wrap
button
footer
copyright*/
