@font-face {
    font-family: 'Roboto';
    font-display: swap;
    src: url('../fonts/regular/roboto_regular.woff') format('woff2'),
    url('../fonts/regular/roboto_regular.woff2') format('woff2');
    font-style: normal;
    font-weight: 300;
}

a{
    text-decoration: none;
    color: #FFFFFF;
    margin: 0;
}
a:hover{
    color: #F26522;
}
img{
    border: 0px;
}
.container{
    background-image: url("../image/background 1.png");
    width: 1349px;
    height: 768px;
    margin: 0 auto;
}
.header-wrap{
    margin: 0 auto;
    display: grid;
    width: 1030px;
    height: 61px;
    padding-bottom: 17px;
    padding-top: 46px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}
.header-logo{
    display: grid;
    width:155px;
}
.header-logo-text .milan{
    margin: 0;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 29px;
    line-height: 29px;
}
.header-logo-text .milan{
    margin: 0;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 29px;
    line-height: 29px;
}

.header-logo-text .holidays{
    margin: 0;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
    color: inherit;
}
.header-logo-text::before{
    padding-right: 10px;
    content: url("../image/logo 3.svg");
    float: left;
}
.header-logo-text:hover::before{
    content: url("../image/logo 2.png");
    float: left;
}

.header-wrap .header-right{
    justify-self: end;
    text-align: right;
}

.header-wrap .header-right .phone {
    padding-top: 19px;
}
.header-wrap .header-right .phone a{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
}
.header-wrap .header-right .phone a:hover,
.header-right .header-email .email:hover{
    color: #F26522;
}

.header-right .header-email .email{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
}

.card-wrapper{
    width: 1030px;
    height: 560px;
    display: grid;
    padding-left:161px;
    justify-items: center;
    grid-template-columns: repeat(3, 301px);
    grid-template-rows: repeat(2, 261px);
    grid-column-gap: 62px;
    grid-row-gap: 37px;
}
.card-item1 { grid-area: 1 / 1 / 2 / 2; position: relative; }
.card-item2 { grid-area: 1 / 2 / 2 / 3; position: relative; }
.card-item3 { grid-area: 1 / 3 / 2 / 4; position: relative; }
.card-item4 { grid-area: 2 / 1 / 3 / 2; position: relative; }
.card-item5 { grid-area: 2 / 2 / 3 / 3; position: relative; }
.card-item6 { grid-area: 2 / 3 / 3 / 4; position: relative; }

.card-item1:hover .popup, .card-item2:hover .popup, .card-item3:hover .popup, 
.card-item4:hover .popup, .card-item5:hover .popup, .card-item6:hover .popup{
    width: 299px;
    height: 55px;
    background-color: #F26522;
    position: absolute;
    bottom: 42px;
    opacity: 1;   
    transition: 0.5s;
}

.image-item-desk{
    padding-top: 20px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 18px;
    text-align: center;
}
.image-item{
    margin: 0;
    width: 100%;
    height: 100%;
}
.image-item img{
    width: 300px;
    height: 220px;
}
.footer{
    text-align: center;
    padding-top: 49px;
    padding-bottom: 15px;
}

.footer .footer-copyright{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 12px;
    color: #FFFFFF;
}
.popup{
    width: 298px;
    height: 55px;
    background-color: #F26522;
    position: absolute;
    bottom: 42px;
    opacity: 0;
}
.popup-items{
    display: flex;
    justify-content: space-between;
}
.popup-item-from{
    margin-top: 7px;
    margin-left: 16px;
    margin-bottom: 7px;
}
.popup-items-50{
    margin-left: 16px;
}
.popup-items-vievdetails{
    margin-right: 16px;
}
.popup-items-vievdetails::after{
    content: "";
    border: solid #FFFFFF;
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 3px;   
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}
/* .popup:hover{
    width: 299px;
    height: 55px;
    background-color: #F26522;
    position: absolute;
    bottom: 42px;
    opacity: 1;   
    transition: 0.5s;
} */